<!DOCTYPE html>
<html>

<head>
    <title>Pokebot</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <style>
        #pokebot-map {
            height: 800px;
        }
    </style>
    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ GMAPS_KEY }}" defer></script>
    <script src="{% static 'pokebot/persistence.js' %}" defer></script>
    <script src="{% static 'pokebot/pokebot.js' %}" defer></script>
    <script src="{% static 'pokebot/map.js' %}" defer></script>

    <input id="csrf-token" type="hidden" value="{{csrf_token}}">
</head>

<body>
    <div id="pokebot-map"></div>
</body>

</html>
